/**
 * Logout
 */

 .logout {
   width: 30%;
   margin: 150px 35% 0 35%;
   height: 150px;
   background-color: $background-opa;
   padding-top: 10px;

   #logout-github-image {
     margin-top: 10px;
     width: 10%;
   }
 }
