/**
 * Variables
 */

$main-white: #eaeeef;
$hover-white: #b6bfc1;
$dark-white: #b0b6b7;
$cyan: #24acba;
$background-opa: rgba(234, 238, 239, 0.2);
$background-opa-more: rgba(234, 238, 239, 0.5);
$background-opa-less: rgba(234, 238, 239, 0.15);
$background-opa-much-less: rgba(234, 238, 239, 0.08);
